/* jenigma-playground.css */
 
* {
	padding: 0%;
	margin: 0%;
}

a {
	text-decoration: none;
}

body {
	background-color: #00404e;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
}

.clearfloat {
	clear: both;
}

/* Overlay ogólnego zastosowania pod wyświetlanie komunikatów */
#overlay {
	background: rgba(0, 0, 0, .87);
	width: 100%;
	height: 100%;
	border: none;
	z-index: 2;
	position: fixed;
	color: #fff;
}
#overlay[mode="off"] {
	display: none;
}
#overlay[mode="on"] {
	display: block;
}
/* Ticker ogólnego zastosowania pod wyświetlanie komunikatów */
#ticker {
	border: 1px dashed pink;
	width: 50%;
	height: 50px;
	background: rgba(0,0,0, .95);
	font-family: sans-serif;
	font-size: 36px;
	float: left;
}
#ticker[mode="off"] {
	display: none;
}

#ticker[mode="on"] {
	display: block;
}

#close-button {
	border: 1px dotted white;
	width: 10%;
	height: 50px;
	float: right;
}

#header {
	width: 99.9%;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1 px solid red;
	background-color: yellow;
}
#machine-gallery {
	padding: 20px;
}
#machine-gallery[mode="on"] {
	display: block;
}
#machine-gallery[mode="off"] {
	display: none;
}

#machine-gallery ul li {
	display: inline-block;
	margin-right: 50px;
	border: 1px solid #ddd;
	width: 120px;
	height: 120px;
	text-align: center;
}

#machine-gallery ul li:hover {
	border: 1px solid red;
	background-color: rgb(255,255,255,.5);
}

#machine-gallery h3 {
	font-size: 12px;
}

.machine-thumbnail {
	width: 96px;
	height: 96px;
}

#manual[mode="on"] {
	display: block;
}
#manual[mode="off"] {
	display: none;
}

#about-enigma[mode="on"] {
	display: block;
}
#about-enigma[mode="off"] {
	display: none;
}

.menu-item {
	float: left;
	width: 190px;
	height: 36px;
	font-size: 14px;
}

.menu-item a {
	display: block;
	width: 100%;
	height: 100%;
}

#adjustments {
	width: 80px;	
}

div.menu-item[lit="no"] {
	border: 2px solid #fff;
	color: #fff;
	background-color: #f00;
}

div.menu-item[lit="yes"] {
	border: 2px solid red;
	color: #fff;
	background-color: #0f0;	
}

.window {
	position: absolute;
	top: 190px;
	width: 56px;
	height: 46px;
	border: 2px solid #ff26d0;
	z-index: 1;
}

#window-r1 {
	left: 764px;
}

#window-r2 {
	left: 564px;

}

#window-r3 {
	left: 364px;
}

#window-r4 {
	left: 234px;
}

#window-r4[isActive="true"] {
	display: block;
}

#window-r4[isActive="false"] {
	display: none;
}

#fast {
	left: 750px;
}
#fast-rotor-desc {
	position: relative;
	top: 40px;
	left: 780px;
	display: none;
}

#middle {
	left: 550px;
}
#middle-rotor-desc {
	position: absolute;
	top: 40px;
	left: 580px;
	display: none;
}

#slow {
	left: 350px;
}
#slow-rotor-desc {
	position: absolute;
	top: 40px;
	left: 380px;
}

#forth {
	/*Wiem, tutaj jest literówka, ale trudno. */
	border: 2px solid yellow;
	left: 220px;
	width: 90px;
}

#forth[isActive="true"] {
	display: block;
}

#forth[isActive="false"] {
	display: none;
}

#fourth-rotor-desc {
	position: absolute;
	top: 40px;
	left: 200px;
}
 
.rotor {
	border: 2px solid red;
	width: 160px;
	height: 306px;
	position: absolute;
	top: 60px;
	overflow: hidden;
}

.wide-reflector {
	border: 2px solid green;
	left: 50px;
	display: block;
}

.thin-reflector {
	border: 2px solid orange;
	left: 50px;
	width: 60px;
}

.stator {
	border: 2px solid orange;
	left: 950px;
	width: 60px
}
 
.letter-strip {
	border: 1px solid pink;
	width: 50px;
	height: 316px;
	position: relative;
	top: 0px;
	left: 16px;
	overflow: hidden;
}

.contacts {
	position: relative;
	font-size: 9px;
	line-height: 0.75rem;
	color: #ccc;
	text-align: center;
}

.contacts-on-rotor, .contacts-on-rotor-right-side {
	width: 20px;
	position: absolute;
	font-size: 9px;
	line-height: 0.75rem;
	color: #ccc;
	text-align: center;
}

.contacts-on-rotor-right-side {
	position: relative;
	float: right;
}

.contacts-strip {
	border: 1px solid #555;
	width: 30px;
	height: 310px;
	position: absolute;
	top: 60px;
	overflow: hidden;
}

.input-contacts-on-plugboard, .middle-contacts-on-plugboard, .output-contacts-on-plugboard {
	width: 20px;
	border: 1px solid grey;
	font-size: 18px;
	line-height: 1.15em;
	float: left;
	height: 200px;
}

.input-contacts-on-plugboard {
	margin-left: 20px;
}

.middle-contacts-on-plugboard {	
	width: 30px;
}

#contacts-to-fast {
	left: 916px;
}

#contacts-to-middle {
	left: 716px;
}

#contacts-to-slow {
	left: 516px;
}

#contacts-to-forth[isActive="true"] {
	display: block;
}


#contacts-to-forth[isActive="false"] {
	display: none;
}

#contacts-to-forth {
	left: 316px;
}

}#contacts-fast-right {
	
}

#contacts-middle-right {
	
}

#contacts-slow-right {
	
}

#contacts-to-reflector {
	left: 186px; /*116*/
	border-color: aquamarine;
}

li[lit="no"] {
	color: #ccc;
	font-weight: normal;
}

li[lit="red"] {
	color: #ff2f5f;
	font-weight: bold;
}

li[lit="green"] {
	color: #10fb10;
	font-weight: bold;
}
 
ul.indexes {
	position: relative;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 36px;
	top: 0px;
	left: 0px;
}

ul.indexes li {
	border: 1px solid green;
	background-color: #fdf483;
	display: list-item;
	text-align: center;
	overflow: hidden;
}

.letter-no-offset {
	width: 46px;
	height: 44px;	
	margin: 3px 2px;
	font-size: 36px;
	margin: 4px 0px;
}
.letter-offset-1 {
	width: 44px;
	height: 36px;
	margin: 3px 2px;
	font-size: 34px;
}

.letter-offset-2 {
	width: 42px;
	height: 30px;
	margin: 2px 3px;
	font-size: 30px;
}

.letter-offset-3 {
	width: 40px;
	height: 26px;
	margin: 1px 4px;
	font-size: 28px;
}

.letter-offset-4 {
	width: 38px;
	height: 18px;
	margin: 1px 5px;
	font-size: 24px;
}

.descended-1 {
	line-height: 1.2em;
}

.descended-2 {
	line-height: 1.3em;
}

.descended-3 {
	line-height: 1.38em;
}

.ascended-1 {
	line-height: 0.85em;
}

.ascended-2 {
	line-height: 0.65em;
}

.ascended-3 {
	line-height: 0.38em;
}

.lamps-panel {
	border: 1px solid yellow;
	width: 790px;
	height: 240px;
	position: absolute;
	top: 400px;
	left: 50px;
	font-family: Georgia, "Times New Roman", serif;
}

.lamps-row {
	border: 0px dashed #999;
	width: 70%;
	margin: 5px auto;
}

/* ### Panel lampek ###*/
.lamps-row span {
	/*margin-left: 20px; */
	padding-top: 5px;
	display: block;
	position: absolute;	
	top: 20px;
	left: 0px;
	width: 45px;
	height: 40px;
	border-radius: 100%;
	font-size: 30px;
	text-align: center;
}

.lamps-row span[lit="no"] {
	border: 2px solid #fff;
	color: #fff;
	background-color: #000;	
}

.lamps-row span[lit="yes"] {
	border: 2px solid #ffbc00;
	color: #ab0000;
	background-color: #fbf533;	
}

#plugboard {
	border-width: 1px;
	position: absolute;
	width: 160px;
	height: 240px;
	top: 400px;
	left: 850px;
}

/* # Górny rząd #*/
span#lamp-Q {
	left: 0px;
}
span#lamp-W {
	left: 65px;
}
span#lamp-E {
	left: 130px;
}
span#lamp-R {
	left: 195px;
}
span#lamp-T {
	left: 260px;
}
span#lamp-Z {
	left: 325px;
}
span#lamp-U {
	left: 390px;
}
span#lamp-I {
	left: 455px;
}
span#lamp-O {
	left: 520px;
}

/* # Środkowy rząd #*/
span#lamp-A {
	top: 80px;
	left: 30px;
}
span#lamp-S {
	top: 80px;
	left: 95px;
}
span#lamp-D {
	top: 80px;
	left: 160px;
}
span#lamp-F {
	top: 80px;
	left: 225px;
}
span#lamp-G {
	top: 80px;
	left: 290px;
}
span#lamp-H {
	top: 80px;
	left: 355px;
}
span#lamp-J {
	top: 80px;
	left: 410px;
}
span#lamp-K {
	top: 80px;
	left: 475px;
}

/* # Dolny rząd #*/
span#lamp-P {
	top: 140px;
	left: 0px;
}
span#lamp-Y {
	top: 140px;
	left: 65px;
}
span#lamp-X {
	top: 140px;
	left: 130px;
}
span#lamp-C {
	top: 140px;
	left: 195px;
}
span#lamp-V {
	top: 140px;
	left: 260px;
}
span#lamp-B {
	top: 140px;
	left: 325px;
}
span#lamp-N {
	top: 140px;
	left: 390px;
}
span#lamp-M {
	top: 140px;
	left: 455px;
}
span#lamp-L {
	top: 140px;
	left: 520px;
}

.description {
	font-size: 10px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: yellow;
	background-color: #000;
	padding: 2px 5px;
}

#middle-row {
	width: 62%;
}