/* jenigma-playground.css */
 
* {
	padding: 0%;
	margin: 0%;
}

a {
	text-decoration: none;
}

body {
	background-color: #00404e;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
}

.clearfloat {
	clear: both;
}

#header {
	width: 99.9%;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1 px solid red;
	background-color: yellow;
}

.menu-item {
	float: left;
	width: 190px;
	height: 36px;
	font-size: 14px;
}

.menu-item a {
	display: block;
	width: 100%;
	height: 100%;
}

div[lit="no"] {
	border: 2px solid #fff;
	color: #fff;
	background-color: #f00;
}

div[lit="yes"] {
	border: 2px solid red;
	color: #fff;
	background-color: #0f0;	
}

.window {
	position: absolute;
	top: 150px;
	width: 56px;
	height: 46px;
	border: 2px solid #ff26d0;
}

#window-r1 {
	left: 664px;
}

#window-r2 {
	left: 464px;

}

#window-r3 {
	left: 264px;

}

#fast {
	left: 650px;
}
#fast-rotor-desc {
	position: relative;
	top: 40px;
	left: 680px;
	display: none;
}

#middle {
	left: 450px;
}
#middle-rotor-desc {
	position: absolute;
	top: 40px;
	left: 480px;
	display: none;
}

#slow {
	left: 250px;
}
#slow-rotor-desc {
	position: absolute;
	top: 40px;
	left: 280px;
}
 
.rotor {
	border: 2px solid red;
	width: 160px;
	height: 306px;
	position: absolute;
	top: 60px;
	overflow: hidden;
}

.wide-reflector {
	border: 2px solid green;
	left: 50px;
}

.stator {
	border: 2px solid orange;
	left: 850px;
}
 
.letter-strip {
	border: 1px solid pink;
	width: 50px;
	height: 316px;
	position: relative;
	top: 0px;
	left: 16px;
	overflow: hidden;
}

.contacts {
	position: relative;
	font-size: 9px;
	line-height: 0.75rem;
	color: #ccc;
	text-align: center;
}

.contacts-on-rotor, .contacts-on-rotor-right-side {
	width: 20px;
	position: absolute;
	font-size: 9px;
	line-height: 0.75rem;
	color: #ccc;
	text-align: center;
}

.contacts-on-rotor-right-side {
	position: relative;
	float: right;
}

.contacts-strip {
	border: 1px solid #555;
	width: 30px;
	height: 310px;
	position: absolute;
	top: 60px;
	overflow: hidden;
}

#contacts-to-fast {
	left: 816px;
}

#contacts-to-middle {
	left: 616px;
}

#contacts-to-slow {
	left: 416px;
}

}#contacts-fast-right {
	
}

#contacts-middle-right {
	
}

#contacts-slow-right {
	
}

#contacts-to-reflector {
	left: 216px;
}

li[lit="no"] {
	color: #ccc;
	font-weight: normal;
}

li[lit="red"] {
	color: #ff2f5f;
	font-weight: bold;
}

li[lit="green"] {
	color: #10fb10;
	font-weight: bold;
}
 
ul.indexes {
	position: relative;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 36px;
	top: 0px;
	left: 0px;
}

ul.indexes li {
	border: 1px solid green;
	background-color: #fdf483;
	display: list-item;
	text-align: center;
	overflow: hidden;
}

.letter-no-offset {
	width: 46px;
	height: 44px;	
	margin: 3px 2px;
	font-size: 36px;
	margin: 4px 0px;
}
.letter-offset-1 {
	width: 44px;
	height: 36px;
	margin: 3px 2px;
	font-size: 34px;
}

.letter-offset-2 {
	width: 42px;
	height: 30px;
	margin: 2px 3px;
	font-size: 30px;
}

.letter-offset-3 {
	width: 40px;
	height: 26px;
	margin: 1px 4px;
	font-size: 28px;
}

.letter-offset-4 {
	width: 38px;
	height: 18px;
	margin: 1px 5px;
	font-size: 24px;
}

.descended-1 {
	line-height: 1.2em;
}

.descended-2 {
	line-height: 1.3em;
}

.descended-3 {
	line-height: 1.38em;
}

.ascended-1 {
	line-height: 0.85em;
}

.ascended-2 {
	line-height: 0.65em;
}

.ascended-3 {
	line-height: 0.38em;
}

.lamps-panel {
	border: 1px solid yellow;
	width: 960px;
	height: 240px;
	position: absolute;
	top: 400px;
	left: 50px;
	font-family: Georgia, "Times New Roman", serif;
}

.lamps-row {
	border: 0px dashed #999;
	width: 70%;
	margin: 5px auto;
}

/* ### Panel lampek ###*/
.lamps-row span {
	/*margin-left: 20px; 
	padding-top: 6px;*/
	display: block;
	position: absolute;	
	top: 20px;
	left: 0px;
	width: 45px;
	height: 39px;
	border-radius: 100%;
	font-size: 30px;
	text-align: center;
}

.lamps-row span[lit="no"] {
	border: 2px solid #fff;
	color: #fff;
	background-color: #000;	
}

.lamps-row span[lit="yes"] {
	border: 2px solid red;
	color: #ff7600;
	background-color: #fbf533;	
}

/* # Górny rząd #*/
span#lamp-Q {
	left: 0px;
}
span#lamp-W {
	left: 65px;
}
span#lamp-E {
	left: 130px;
}
span#lamp-R {
	left: 195px;
}
span#lamp-T {
	left: 260px;
}
span#lamp-Z {
	left: 325px;
}
span#lamp-U {
	left: 390px;
}
span#lamp-I {
	left: 455px;
}
span#lamp-O {
	left: 520px;
}

/* # Środkowy rząd #*/
span#lamp-A {
	top: 80px;
	left: 30px;
}
span#lamp-S {
	top: 80px;
	left: 95px;
}
span#lamp-D {
	top: 80px;
	left: 160px;
}
span#lamp-F {
	top: 80px;
	left: 225px;
}
span#lamp-G {
	top: 80px;
	left: 290px;
}
span#lamp-H {
	top: 80px;
	left: 355px;
}
span#lamp-J {
	top: 80px;
	left: 410px;
}
span#lamp-K {
	top: 80px;
	left: 475px;
}

/* # Dolny rząd #*/
span#lamp-P {
	top: 140px;
	left: 0px;
}
span#lamp-Y {
	top: 140px;
	left: 65px;
}
span#lamp-X {
	top: 140px;
	left: 130px;
}
span#lamp-C {
	top: 140px;
	left: 195px;
}
span#lamp-V {
	top: 140px;
	left: 260px;
}
span#lamp-B {
	top: 140px;
	left: 325px;
}
span#lamp-N {
	top: 140px;
	left: 390px;
}
span#lamp-M {
	top: 140px;
	left: 455px;
}
span#lamp-L {
	top: 140px;
	left: 520px;
}

.description {
	font-size: 10px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: yellow;
	background-color: #000;
	padding: 2px 5px;
}

#middle-row {
	width: 62%;
}